<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <lnk rel="stylesheet" href="/stylesheets/style.css" />
  <title>Fire Base</title>
</head>
<body>
  <nav>
    <a href="/flights">Fire Base</a> |
    <a href="/flights/new">Browse</a> |
    <a href="/flights/new">My Stuff</a> |
    <a href="/flights/new">Search</a> |
    <a href="/flights/new">My Account</a>
  </nav>