</head>
<body>
  <nav>
    <div id="nav1">
      <a href="/">Fire Base</a> 
    </div>
    <div id="nav2">
      <% if(user){ %>
        <a href="/my-account">My Account</a>
      <% } else { %>
        <a href="/auth/google">Log In</a>
      <% } %>
    </div>
  </nav>