<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="icon" href="/images/fire.png">
  <title>Fire Base</title>
</head>
<body>
  <nav>
    <a href="/"><img src="/images/fire.png"></a> 
    <a href="/browse">Browse</a> 
    <a href="/my-stuff">My Stuff</a> 
    <i class="material-icons">search</i>
    <input type="text" value="SEARCH">
    <% if(user){ %>
      <a href="/my-account">My Account</a>
    <% } else { %>
      <a href="/auth/google">Log In</a>
    <% } %>
  </nav>