<%- include('partials/header') %>
  <div class="content">
    <h2>Popular ></h2>
    <div id="popular">
      <div class="container">
          <a href="/videos"><img src="http://img.youtube.com/vi/DefL-oJpjo8/0.jpg" /></a>
          <p class="topleft">Top Left</p>
      </div>
      <div class="container">
          <img src="http://img.youtube.com/vi/x72ew_O3fsE/0.jpg" />
          <p class="topleft">Top Left</p>
      </div>
    </div>
    <div class="videos-row">
      <div class="container">
        <button class="center-left arrow"><</button>
        <img src="http://img.youtube.com/vi/wGgsmCEgf4w/0.jpg" />
        <p class="topleft">Top Left</p>
      </div>
      <div class="container">
        <img src="http://img.youtube.com/vi/S09o1LhYW2g/0.jpg" />
        <p class="topleft">Top Left</p>
      </div>
      <div class="container">
        <img src="http://img.youtube.com/vi/LRCCGQj2KTU/0.jpg" />
        <p class="topleft">Top Left</p>
      </div>
      <div class="container">
        <img src="http://img.youtube.com/vi/VH3f0ellNv8/0.jpg" />
        <p class="topleft">Top Left</p>
        <button class="center-right arrow">></button>
      </div>
    </div>
  </div>
<%- include('partials/footer') %>
