<%- include('../partials/header') %>
<link rel="stylesheet" href="/stylesheets/new-video.css" />
<%- include('../partials/header2') %>
  <h1>Add Video</h1>
  <h2>Step 1 (Copy the Youtube URL):</h2>
  <h3>Click on the Share button</h3>
  <img src="/images/step1.png" />
  <h3>Copy the URL</h3>
  <img src="/images/step2.png" />
  <h3>Insert Youtube URL:</h3>
  <input placeholder="ex. https://youtu.be/fWpvknKuYrg" name="url">
<%- include('../partials/footer') %>