h2{
  font-size: 1.2em;
}

.content {
  margin: 0 2%;
}

#popular {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  align-items: stretch;
}

.img-p-container{
  position: relative;
  width: 100%;
  z-index: -1;
}

.topleft {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 2vw;
  width: 100%;
  margin: 0;
  padding: 1vw;
  background-image: linear-gradient(rgb(30, 33, 38, 1),rgb(30, 33, 38, 0));
  color: white;
  z-index: 1;
}

.center-right {
  position: absolute;
  right: -4%;
  top: 42%;
}

.center-left {
  position: absolute;
  left: -4%;
  top: 42%;
}

.arrow {
  background-color: rgb(155, 155, 155);
  color: white;
  border-radius: 12px;
  font-size: 2vw;
}

.container img {
  width: 100%;
  display: block;
  z-index: -1;
}

.videos-row {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 100%;
  align-items: stretch;
}

@media screen and (min-width: 850px) {
  .topleft {
     font-size: 1.2em;
  }
}