/* * {
  border: 1px solid red;
} */

.container {
  width: 80%;
  margin: 10px auto;
}

#iframe-container {
  padding-bottom: 56.25%; 
  position: relative; 
  display: block; 
  width: 100%;
}

iframe {
  width: 100%;
  height: 100%;
  position: absolute; 
  top: 0; 
  left: 0;
}

h1 {
  text-align: left;
  font-size: 3vw;
  margin: 0;
  margin-bottom: 2px;
}

img {
  border-radius: 50%;
  width: 30px;
}

.comment textarea {
  width: 100%;
  border: none;
  resize: none;
  margin-bottom: 1px;
  border-bottom: 1px solid rgb(177, 177, 177);
  outline: none;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.comment textarea:focus {
  color: black;
  border-bottom: 1px solid black;
}

.submit-comment {
  float: right;
  color: white;
  background-color: #4CAF50;
  border-radius: 2px;
}

.comment h3 {
  margin: 0;
  padding: 0;
  font-size: .8em;
  text-emphasis: bold;
}

.comment p {
  margin: 0;
  padding: 0;
  font-size: .9em;
}

.comment {
  display: grid;
  grid-template-columns: 40px auto;
  grid-template-rows: 100%;
  margin-bottom: 15px;
}

.context {
  display: grid;
  grid-template-columns: auto 10px;
  grid-template-rows: 100%;
}

.dot-container {
  position: relative;
}

.dot-container div {
  position: absolute;
  top: 15px;
  height: 30px;
  width: 50px;
}

h4 {
  font-size: .7em;
  display: block;
  margin: 0;
  padding: 1px;
  border: 1px solid grey;
  cursor: pointer;
}

.edit {
  border-bottom: none;
}

h4:hover {
  background-color: rgba(152, 152, 152, 0.748);
}

.dots {
  position: absolute;
  border: none;
  height: 15px;
  width: 10px;
  margin: 0;
  padding: 0;
  outline: 0;
  background-repeat: none;
  background: url("../images/dots.png") no-repeat;
  background-size: 10px;
  background-position-y: 50%; 
}

.vid-buttons-container {
  width: 100%;
  height: 20px;
}

.vid-buttons {
  float: right;
  margin-top: 10px;
}

.vid-buttons p {
  display: inline;
  margin-left: 5px;
  font-size: 1.2em;
}

.vid-buttons img {
  border-radius: 0%; 
  width: 25px;
  height: 25px;
}

.vid-buttons button {
  margin-left: 30px;
  padding: 0;
  background: none;
  color: none;
  border: none;
  outline: none;
}

.vid-buttons form {
  display: inline;
}

@media screen and (min-width: 700px) {
  h1 {
     font-size: 1.5em;
  }
}