<%- include('../partials/header') %>
<%- include('../partials/header2') %>
<h1>My Stuff</h1>
<h3>My Favorites ></h3>
<% videos.forEach(video => { %>
  <img src="http://img.youtube.com/vi/<%=video.uri%>/0.jpg" />
<% }) %>
<%- include('../partials/footer') %>