<%- include('../partials/header') %>
<%- include('../partials/header2') %>
<a href="/myStuff"><p>My Stuff</p></a>
<a href="/logout"><p>Log out</p></a>
<% if(user.contributor) { %>
  <a href="/videos/new"><p>Add a video</p></a>
<% } else { %>
  <p>request to be a contributor</p>
<% } %>
<%- include('../partials/footer') %>